<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @recipe.title %>
      </p>
      <% if user_signed_in? && current_user.id == @recipe.user_id %>
      <%# <%= link_to current_user.nickname,user_path(@recipe.user.id), class: :prototype__user %> %>
        <div class="prototype__manage">
          <%# <%= link_to "編集する", edit_prototype_path(@prototype.id), method: :get, class: :prototype__btn %>
          <%# <%= link_to "削除する", prototype_path, method: :delete, class: :prototype__btn %> %> %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @recipe.image, class: :card_img %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @recipe.text %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @recipe.material %>
          </p>
        </div>
      
    </div>
  </div>
</main>